*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#experience {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#experience-canvas {
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: block;
}

#overlay>div {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none; 
    color:white;
    text-align: center;
    font-size: large;
}
#overlay>div:hover {
    color:gray /* this should actually be gray on *orb* hover, not implemented this way */
}