#info-panels {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#left-panel {
    position: absolute;
    overflow: auto;
    height: 50%;
    width: 30%;
    top: 20%;
    left: 5%;
}

#right-panel {
    position: absolute;
    overflow: auto;
    height: 50%;
    width: 30%;
    top: 20%;
    left: 65%;
}

#bottom-panel {
    background: rgba(0, 0 , 0, 0);
    position: absolute;
    height: 20%;
    width: 90%;
    top: 75%;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bottom-panel>div {
    position: relative;
    overflow-y: auto;
    height: 100%;
}

#experience {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

#experience-canvas {
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    display: block;
}

#overlay>div {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none; 
    color:white;
    text-align: center;
    font-size: large;
}

#scroll-area {
    height: 500vh;
}

#back-button {
    position: absolute;
    width: 100px;
    left: 95vh;
    top: 0;
    user-select: none; 
    color:white;
    text-align: center;
    font-size: large;
}

.tektur-one {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.cn {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}