*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#experience {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

#experience-canvas {
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    display: block;
}

#overlay>div {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none; 
    color:white;
    text-align: center;
    font-size: large;
}

#scroll-area {
    height: 500vh;
}